<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent access to sensitive files
    <FilesMatch "^\.env|composer\.json|composer\.lock">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # Prevent access to dot-directories (e.g. .git)
    RewriteRule ^(\.git|vendor)(/.*)?$ - [F,L]

    # If the file/dir exists in the root, serve it (e.g. debug scripts)
    # Be careful, this may still allow unwanted file access if not handled
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # OTHERWISE, transparency rewrite everything into the 'public' folder
    # This ensures assets in public/assets/ are reachable via /assets/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

